from random import randrange

# MQTT server configuration
mqtt_host = "ip address or host"
mqtt_user = "username"
mqtt_password = "password"
mqtt_port = "1883"
mqtt_topic_prefix = "rpi-MQTT-monitor"

# Messages configuration

# If this is set to True the script will send just one message containing all values
group_messages = False

# If this is set, then the script will send MQTT discovery messages meaning a config less setup in HA.  Only works
# when group_messages is set to False
discovery_messages = True

# Random delay in seconds before measuring the values
# - this is used for de-synchronizing message if you run this script on many hosts, set this to 0 for no delay.
# - if you want a fix delay you can remove the randrange function and just set the needed delay.
random_delay = randrange(3)

# If dry run, only prints that the functions which perform measurements are being called, but
# doesn't actually grab the measurements. This is handy if one is developing on something other
# than a true Ubuntu system (e.g. Ubuntu WSL on Windows doesn't have some of the required operations)
dry_run = False

# how many seconds between iterations of the loop
loop_time_seconds = 10

log_config = {
    'version': 1,
    'loggers': {
        '': {
            'level': 'NOTSET',
            'handlers': ['rotating_info_handler'],
        },
    },
    'handlers': {
        'rotating_info_handler': {
            'level': 'DEBUG',
            'formatter': 'info',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': 'log.txt',
            'mode': 'a',
            'maxBytes': 1048576,
            'backupCount': 10
        },
    },
    'formatters': {
        'info': {
            'format': '%(asctime)s-%(levelname)s-%(name)s-%(process)d::%(module)s|%(lineno)s:: %(message)s'
        },
    },
}

# This is the time  between sending the individual messages
sleep_time = 0.5
cpu_load = True
cpu_temp = True
disk_usage = True
voltage = True
sys_clock_speed = True
swap = True
memory = True
uptime_days = True
